<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/gerb.png') }}">
  <meta name="theme-color" content="#fafafa">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/data.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <main>
    <header class="d-flex text-bg-dark flex-wrap text-center align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="container">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 align-items-center justify-content-center mb-md-0 h5">
          <img class="center-pic img-fluid" src="{{ url_for('static', filename='img/gerb.png') }}" alt="">

          {% block nav -%}
          {% if title == "Авторизация" %}
            <!--Для авторизации только текст в навигации-->
            <li class="nav-link px-2 text-white">Московский университет Министерства внутренних дел Российской Федерации имени В.Я. Кикотя</li>
          {% else %}

          <!--Подключить базу и в зависимости от учетной записи прописать доступ к вкладкам на сайте-->

            <!--Для всех-->
            <li><a href="{{ url_for('lk') }}" class="nav-link px-4 text-white">Админ/Курсовой офицер/Личный кабинет</a></li>
            <li><a href="{{ url_for('documents') }}" class="nav-link px-4 text-secondary">Документация</a></li>
            <li><a href="{{ url_for('video') }}" class="nav-link px-4 text-secondary">Видео</a></li>
            <li class="exit"><a href="#modal_exit"><i class="material-icons">exit_to_app</i></a></li>

            <!--Для админа + -->
            <li><a href="{{ url_for('create') }}" class="nav-link px-4 text-secondary">Расстановка</a></li>

            <!--Для админа и курсового + -->
            <li><a href="{{ url_for('iskl') }}" class="nav-link px-4 text-secondary">Исключения</a></li>
            <li><a href="{{ url_for('statistic') }}" class="nav-link px-4 text-secondary">Статистика</a></li>

            <!--Для курсового + -->
            <li><a href="{{ url_for('anketa') }}" class="nav-link px-4 text-secondary">Анкеты</a></li>
          {% endif %}
          {% endblock %}
        <ul>
      </div>
    </header>

    {% block body %}{% endblock %}

  </main>

  <div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <img class="center-pic img-fluid" src="{{ url_for('static', filename='img/gerb.png') }}" alt="">
      <span class="mb-3 mb-md-0 text-body-secondary">Суточные наряды, 2023</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <span class="mb-3 mb-md-0 text-body-secondary">© ФПСОИБ, МосУ МВД</span>
    </ul>
  </footer>
  </div>

  <!--Модальное окно выхода-->
  <div id="modal_exit" class="modal_exit">
    <div class="d-flex flex-wrap col-md-3 text-end align-items-center justify-content-center py-3 mb-4">
      <h5 class="modal_exit border-bottom ">Вы действительно хотите выйти из личного кабинета?</h5>
      <div class="col-md-3 text-end">
        <ul class="h5 nav col-12 me-lg-auto mb-2 mb-md-0">
          <li><a href="{{ url_for('logout') }}" type="button" class="btn btn-outline-primary me-2">Да</a></li>
          <li><a href="" type="button" class="btn btn-primary">Нет</a></li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>



