{% extends 'base.html' %}
# наследование от страницы base.html
{{ super() }}

  {% block body %}
<div class="d-flex flex-wrap container py-4 text-center align-items-center" xmlns="http://www.w3.org/1999/html">
    <form class="row g-3 py-4 needs-validation" onsubmit="return getValue('commands')" oninput="gggg.value=text.value" novalidate>

      <div class="container text-center">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-2">
            <label for="validationCustom01" class="form-label">Год</label>
          </div>
          <div class="col-md-2">
            <label for="validationCustom02" class="form-label">Месяц</label>
          </div>
          <div class="col-md-2">
            <label for="validationCustom03" class="form-label">Количество дней</label>
          </div>
          <!--ИЛИ ФОРМИРОВАТЬ МЕСЯЦ НАРЯДА С ВЫГРУЗКОЙ ИЗ КАЛЕНДАРЯ???-->
          <div class="col-md-2">
            <label for="validationCustom02" class="form-label"></label>
          </div>
        </div>
      </div>

      <div class="container text-center">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-2">
            <input type="text" class="form-control" id="validationCustom01" name="text" autofocus value="" required>
          </div>
          <div class="col-md-2">
            <select class="form-select" id="month" onchange="run()" required>
              <option selected disabled value="">Выберите...</option>
              <option value="01">январь</option>
              <option value="02">февраль</option>
              <option value="03">март</option>
              <option value="04">апрель</option>
              <option value="05">май</option>
              <option value="06">июнь</option>
              <option value="07">июль</option>
              <option value="08">август</option>
              <option value="09">сентябрь</option>
              <option value="10">октябрь</option>
              <option value="11">ноябрь</option>
              <option value="12">декабрь</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" id="commands" value="" size="2" required>
          </div>
          <!--ИЛИ ФОРМИРОВАТЬ МЕСЯЦ НАРЯДА С ВЫГРУЗКОЙ ИЗ КАЛЕНДАРЯ???-->
          <div class="col-md-2">
            <input class="btn btn-primary" value="Сгенерировать месяц">
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="container text-center">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-1 py-2">
            <label for="validationCustom01" class="form-label">Дата</label>
          </div>
          <div class="col-md-1 py-4">
            <label for="validationCustom01" class="form-label">1 курс</label>
          </div>
          <div class="col-md-1 py-4">
            <label for="validationCustom01" class="form-label">2 курс</label>
          </div>
          <div class="col-md-1 py-4">
            <label for="validationCustom01" class="form-label">3 курс</label>
          </div>
          <div class="col-md-1 py-4">
            <label for="validationCustom01" class="form-label">4 курс</label>
          </div>
          <div class="col-md-1 py-4">
            <label for="validationCustom01" class="form-label">5 курс</label>
          </div>
          <div class="col-md-4 py-4">
            <label for="validationCustom01" class="form-label">День недели</label>
          </div>
          <div class="col-md-1 py-1">
            <label for="validationCustom01" class="form-label">Пол</label>
          </div>
        </div>
      </div>

      <div class="container text-center box">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-1 py-2">
            <label for="validationCustom01" class="form-label"><output id="dd">дд</output>.<output id="mm">мм</output>.<output name="gggg">гггг</output></label>
          </div>
          <div class="col-md-1 py-0">
            <input type="text" class="form-control" id="validationCustom0" value="" required>
          </div>
          <div class="col-md-1 py-0">
            <input type="text" class="form-control" id="validationCustom0" value="" required>
          </div>
          <div class="col-md-1 py-0">
            <input type="text" class="form-control" id="validationCustom0" value="" required>
          </div>
          <div class="col-md-1 py-0">
            <input type="text" class="form-control" id="validationCustom0" value="" required>
          </div>
          <div class="col-md-1 py-0">
            <input type="text" class="form-control" id="validationCustom0" value="" required>
          </div>
          <div class="col-md-4 py-1">
            <select class="form-select" id="validationCustom04" required>
              <option selected disabled value=""></option>
              <option>Будний день</option>
              <option>Выходной день</option>
              <option>Праздничный день</option>
            </select>
          </div>
          <div class="col-md-1 py-1">
            <select class="form-select" id="validationCustom04" required>
              <option selected disabled value=""></option>
              <option>М</option>
              <option>Ж</option>
            </select>
          </div>
        </div>
      </div>

      <script>
      var input = document.getElementById('commands'); //берем значение - количество дней, введенное в input
      var dd = '0';

      input.addEventListener('change', function ()
      {
         multiplyNode(document.querySelector('.box'), input.value, true);
      });

      function multiplyNode(node, count, deep)
      {
        for (var i = 0, copy; i < count - 1; i++)
        {
          copy = node.cloneNode(deep);
          node.parentNode.insertBefore(copy, node);
          dd++;
        }
      }
      multiplyNode(document.querySelector('.box'), input.value, true); //выводит элемент класса .box input.value - раз (т.е. принимается значение из инпута)
      </script>

      <div class="col-12 py-4">
        <button class="btn btn-primary" type="submit">Начать расстановку</button>
      </div>

      <script>
        function run() {
        document.getElementById("mm").value = document.getElementById("month").value;
        }
      </script>

      <script>
        var dd = '0';
        for (var i = 0; i < 2; i++)
        {
          dd++;
          document.write(dd);
        }
      </script>

    </form>
  </div>

  {% endblock %}

<!--
 Функционал вкладки:
  1) админ
Генерирование месяца суток (год, месяц, количество дней). Альтернатива: сделать выгрузку из календаря для автоматического генерирования месяца.
Поля для ввода данных о распределении нагрузки по курсам. Альтернатива: сделать автоматическое распределение нагрузки по факультету (учитывая все исключения, которые внес курсовой офицер).
Запуск алгоритма расстановки суток (возможность вывода файла с расстановкой на целый месяц всего факультета).
Возможность редактирования итоговой расстановки на месяц только админом
Да, только админ, автоматическое распределение

Автоматически генерировать график с распределением нагрузки в зависимости от количества людей на факультете - ДА
Общее количество людей делить на общее количество нарядов (не зависит от курса) - ДА, всех в один список

  2) курсовой офицер –

  3) курсант -
-->