{% extends 'base.html' %}
# наследование от страницы base.html

<body>
<main>
  {% block body %}

{% endblock %}

</main>
</body>
</html>



<!--
Функционал вкладки:
  1) админ
  - Просмотр таблицы статистики за всех курсантов (разделение на блоки по курсам???).
  - Печать/вывод статистики (с необходимой выборкой) - Да, но на поздних этапах

  2) курсовой офицер
  - Просмотр таблицы статистики за свой курс.
  - Возможность редактирования анкет курсантов (изменение персональных данных на подвкладке «редактирование», перепроверка и редактирование количества и качества суток курсанта с дальнейшем сохранением в БД).

  3) курсант -
-->