{% extends 'base.html' %}
# наследование от страницы base.html

<body>
<main>
  {% block body %}
  Функцинал вкладки:
  1) админ
  - просмотр статистики за всех курсантов (мб разделение на блоки по курсам)
  - печать статистики???
  2) курсовой офицер
  - просмотр статистики за свой курс
  - возможность редактирования анкет курсантов (изменение персональных данных, перепроверка и редактирование количества и качества суток курсанта с дальнейшем сохранением в БД)
  3) курсант
  -
{% endblock %}


  <!--<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
  </form>-->

</main>
</body>
</html>
