{% extends 'base.html' %}
# наследование от страницы base.html

<body>
<main>
  {% block body %}
{% endblock %}


</main>
</body>
</html>


<!--
Функционал вкладки:
  1) админ
  - Добавление видеоматериалов по алгоритмам действий при подготовке к суточным нарядам.

  2) курсовой офицер
- Возможность скачивания и ознакомления видеоматериалами по алгоритмам действий при подготовке к суточным нарядам.

  3) курсант
- Возможность скачивания и ознакомления видеоматериалами по алгоритмам действий при подготовке к суточным нарядам.
-->